body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 1em;
}
.container {
  height: 100vh;
  padding: 50px;
}
input {
  border-radius: 0.5em;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

button[type="submit"] {
  margin-top: 20px;
  background-color: #333333;
  color: white;
  border-radius: 1em;
}
